@model WebApplication2.Datos.TBL_Juego

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TBL_Juego</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GolesLocal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GolesLocal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GolesVisita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GolesVisita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TBL_Equipo.NombreEquipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBL_Equipo.NombreEquipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TBL_Equipo1.NombreEquipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBL_Equipo1.NombreEquipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TBL_Liga.NombreLiga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBL_Liga.NombreLiga)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
