@model IEnumerable<WebApplication2.Datos.TBL_Equipo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreEquipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFundacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBL_Liga.NombreLiga)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreEquipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFundacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBL_Liga.NombreLiga)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdEquipo }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdEquipo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdEquipo })
        </td>
    </tr>
}

</table>
